body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: #1e1e1e;
  background-color: #e1e1e1;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0.5em;
}
h1,
.h1 {
  font-size: 42px;
}

h2,
.h2 {
  font-size: 32px;
}

h3,
.h3 {
  font-size: 28px;
}

h4,
.h4 {
  font-size: 24px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 16px;
}

button,
.btn {
  display: inline-block;
  padding: 0 16px;
  background-color: #D03880;
  text-decoration: none;
  color: white;
  border: 2px solid #D03880;
  line-height: 2;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 15px;
}

button:hover,
.btn:hover {
  background-color: #ffffff;
  color: #333333;
  font-family: 'Poppins', sans-serif, Bold;
}

.btn--secondary {
  background-color: #333333;
  color: #ffffff;
  text-decoration: none;
  border: 2px solid #333333;

}
.btn--secondary:hover {
  background-color: #D03880;
  color: white;
}

code {
  background-color: #e1e1e1;
  font-weight: 400;
  padding: 0 8px;
  font-size: 0.8em;
  font-family: 'Courier New', monospace;
}
/* ---> UTILITIES */

/* Colores principales */
.color-black {
  color: #1F1D1E;
}

.bg-color-black {
  background-color: #1F1D1E;
}

.color-white {
    color: #FFFFFF;
  }
  
  .bg-color-white {
    background-color: #FFFFFF;
  }

/* Colores secundarios */
.color-pink {
  color: #D03880;
}
.bg-color-pink {
  background-color: #D03880;
}

.color-pink2 {
  color: #E45C9C;
}
.bg-color-pink2 {
  background-color: #E45C9C;
}



/* Escala de grises */
.color-grey {
  color: #333333;
}
.bg-color-grey {
  background-color: #333333;
}

.color-grey-2 {
  color: #666666;
}
.bg-color-grey-2 {
  background-color: #666666;
}

.color-grey-3 {
  color: #CCCCCC;
}
.bg-color-grey-3 {
  background-color: #CCCCCC;
}

/* Own styles, these are only for styling THIS page */

.pattern-content {
  max-width: 800px;
  padding: 16px;
  margin: 16px auto;
  background-color: white;
  border-radius: 8px;
}

.pattern-section {
  margin-bottom: 64px;
}

.pattern-color {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
}

.pattern-color:before {
  content: attr(data-color);
  background-color: rgba(0,0,0,0.2);
  display: block;
  color: white;
  text-align: center;
}

.pattern-title {
  border-bottom: 1px solid #e1e1e1;
  opacity: 0.6;
}

[data-header]:before {
  content: attr(data-header) ": ";
}

/* FORMULARIO */

form{
  font-family: 'Poppins', sans-serif;
  padding: 60px;
  max-width: 400px;
  background-color: #CCCCCC;
  margin: 0 auto;
}

form input, form textarea{
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 10px;
  box-sizing: border-box; 
  border: none; 
  color: #333333; 
  font-size: 1em;
  resize: none; 
}

form button {
	display: block;
	background-color: #0095eb;
	padding: 10px 45px 10px 45px;
	border: 0;
	font-size: 1em; 
	color: 	white;
  font-family: 'Poppins', sans-serif;
}
form button: hover{
	background-color: #046193;
}
textarea {  resize: none;}